{% extends 'base.html' %}

{% block title %}入力画面{% endblock %}
{% block content_title %}<h3>株価シミュレーション（入力）</h3>{% endblock %}


{% block content %}
    {% if unique_errors %}
        <ul class="err-notes">
            {% for error in unique_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="{% url 'simulation:simulation_result' %}">      
        {% csrf_token %}
        
         <div>
            <label for="{{ form.company.id_for_label }}">会社名</label>
            {{ form.company }}
        </div>

        <div>
            <label for="{{ form.start_date.id_for_label }}">開始日</label>
            {{ form.start_date }}
        </div>

        <div>
            <label for="{{ form.end_date.id_for_label }}">終了日</label>
            {{ form.end_date }}
        </div>

        <div>
            <label for="{{ form.initial_invest.id_for_label }}">頭金</label>
            {{ form.initial_invest }}
        </div>

        <div>
            <label for="{{ form.monthly_invest.id_for_label }}">月々の掛金</label>
            {{ form.monthly_invest }}
        </div>
        <button type="submit">シミュレーション開始</button>
    </form>
    <div class="page_link ">
        <small>
            <a href="{% url 'accounts:mypage' %}">マイページに戻る</a>
            <a href="{% url 'home:index' %}">ホーム画面に戻る</a>
        </small>
    </div>
{% endblock %}



