{% extends 'base.html' %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'master/css/style.css' %}">{% endblock %}


{% block title %}会社編集{% endblock %}
{% block content_title %}<h3>会社情報の編集</h3>{% endblock %}


{% block content %}
    {% if unique_errors %}
        <ul class="err-notes">
            {% for error in unique_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.name_en.id_for_label }}">会社名（英語）</label>
            {{ form.name_en }}
        </div>

        <div>
            <label for="{{ form.name_jp.id_for_label }}">会社名（日本語）</label>
            {{ form.name_jp }}
        </div>

        <div>
            <label for="{{ form.industry.id_for_label }}">業界</label>
            {{ form.industry }}
        </div>

        <div>
            <label for="{{ form.market.id_for_label }}">市場</label>
            {{ form.market }}
        </div>

        <div>
            <label for="{{ form.memo.id_for_label }}">備考欄</label>
            {{ form.memo }}
        </div>
        
        <button type="submit" name="go_update">確定</button>
    </form>
    <div class="page_link ">
        <small>
            <a href="{% url 'master:company_search_list' %}">会社の一覧に戻る</a>
            <a href="{% url 'master:master_page' %}">管理者ページに戻る</a>
        </small>
    </div>
{% endblock %}